#dark .darktext {
  color: white !important;
}

@media (min-width: 992px) {
  #dark {
    background-image: url("../assets/darkmode.jpg");
  }
}

@media (max-width: 991px) {
  #dark {
    background-image: url("../assets/bg-phone-darkmode.png");
  }
}
