:global(#dark #nav-link) {
  color: #fff;
}

:global(#dark #logo) {
  color: #fff;
}

:global(#dark .switch) {
  color: white;
}

:global(#dark .mobile-link) {
  color: #000;
}

:global(#dark .MenuButton) {
  color: #fff;
}

:global(#dark .arrow) {
  color: #fff;
}
