@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4.6px);
}

#darkmode {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4.6px);
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
}

#small-nav {
  display: none;
}

@media screen and (max-width: 850px) {
  #main-nav {
    display: none;
  }

  #small-nav {
    display: block;
  }
}

.hero-h1 {
  background-image: url('./assets/pexels-felix-mittermeier-956999.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  font-weight: 900;
  font-size: 150px !important;
  background-attachment: fixed !important;
  filter: brightness(1.1);
  top: 50vh;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

:global(#dark > #nav-link) {
  color: whitesmoke;
}

:global(#dark > #nav-span) {
  color: #fff !important;
}

.darkspan {
  color: #fff;
  cursor: pointer;
}
